.app-footer{
    padding: 1%;
    color: white;
    background-color: rgb(22, 21, 21);
    
}

p{
    margin: 0;
}

hr{
    height: 2rem;
    color: rgb(230, 220, 80);;
}

a img{
    background-color: rgb(230, 220, 80);
    padding: 0.4%;
    height: 2rem;
    width: 2rem;
}