:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: rgb(249,245,246);
background: linear-gradient(151deg, rgba(249,245,246,1) 0%, rgba(230,230,191,1) 15%, rgba(255,254,211,1) 21%, rgba(247,246,197,1) 29%, rgba(228,227,174,1) 32%, rgba(237,236,172,1) 37%, rgba(246,246,180,1) 50%, rgba(238,236,190,1) 71%, rgba(200,203,159,1) 100%);
}